.header {
  padding: 2px;
  background: linear-gradient(to right, #feb236, #ff7b25);
  padding: 13px;
}

.options-bar {
  overflow: hidden; /* Hide overflow */
  background-color: #4CAF50; /* Dark background color */
}

.options-bar a {
  float: left; /* Make sure that the links stay side-by-side */
  display: block; /* Change the display to block, for responsive reasons (see below) */
  color: white; /* White text color */
  text-align: left; /* Center the text */
  padding: 14px 20px; /* Add some padding */
  text-decoration: none; /* Remove underline */
  background-color: #4CAF50;
}

/* Right-aligned link */
.options-bar a.right {
  float: right; /* Float a link to the right */
}

/* Change color on hover/mouse-over */
.options-bar a:hover {
  background-color: #ddd; /* Grey background color */
  color: black; /* Black text color */
}

* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 20px;
}
.container {
  background: linear-gradient(to right, #feb236, #ff7b25);
  text-align: left;

}


/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
