/*  Body  */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
/*   --------------------------   */
/* Header and Title of page  */

.header {
  background: linear-gradient(to right, #9c27b0, #e040fb);
  padding: 13px;
}

h1 > a{
  color:white;
  text-decoration: none;
}
a{
  text-decoration: none;
}
div  a:hover{

  color: black;
}
/*   --------------------------   */
/*  BlackLine   */
#blackline{
  background-color: black;
  width: 100%;
  height: 20px;
  margin-bottom: 25px;
}
/*   --------------------------   */
span {
  text-align: left;
  color: white;
  margin-left: 10px;
  margin-top: 8px;
}

#Sign_Up,
#Login {
  display: inline-block;
  vertical-align: middle;
  float: right;
  margin-top: 8px;
  margin-right: 10px;
}

#user,
#pass,
#MN,
#GN,
#CT,
#CN,
#DOB {
  background-color: #1abc9c;
  text-align: center;
  color: white;
  font-family: sans-serif;
  border-radius: 0.9em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

#form {
  padding-top: 40px;
  background-color: #ffffff;
  width: 400px;
  height: 500px;
  margin: 7em auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}
/* Doctor's Home Page (Add patient) and Add profile  */

#pat_add {
  padding-top: 40px;
  background-color: #ffffff;
  width: 400px;
  height: 220px;
  margin: 60px auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}
.D_name,
#problem,
#D_email,
#D_gender,
#D_con,
#D_type {
  background-color:  #9c27b0;
  text-align: center;
  color: white;
  font-family: sans-serif;
  border-radius: 0.9em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

/* Doctor's profile  */
#prof_doc {
  padding-top: 40px;
  background-color: #ffffff;
  width: 400px;
  height: 500px;
  margin: 60px auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

/*   --------------------------   */

#lp {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  color: #8c55aa;
}

/* Vertical Navigation Bar */
#menu_bar {
  background-color: #ffffff;
  float: left;
  height: 100%;
}

#menu_bar > .elements {
  padding: 10px;
  margin: 10px 5px;
  background-color:  #9c27b0;
  border-radius: 0.7em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}
.elements > a{
  color:black;
}
.elements >a:hover{
  color: blue;
}
#menu_bar > .elements:hover {
  background-color: white;
}
/*   --------------------------   */

/* Doctor's Session page   */

.session {
  background-color: rgba(10, 194, 148, 0.5);
  margin: 10px 20px 10px 10px;
  height: 100px;
  width: 80%;
  padding: 10px;
  float:right;
  margin-right: 50px;
  border-radius: 0.9em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sessbtn {
  width: 50px;
  float: right;
  margin-top: 70px;
}
/*   --------------------------   */
/* Styled table  */
.styled-table {
  border-collapse: collapse;
  margin: 36px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}
.styled-table th,
.styled-table td {
  padding: 12px 15px;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
/*   --------------------------   */