<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../static/intro.css">
	<link rel="icon" type="image/png" href="logoehr.ico">

</head>
<body>
	

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
		<img class="logo-img" src="{{url_for('static',filename='/images/logoehr.png')}}" width="130" height="130" ALT="align box" ALIGN=CENTER>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
	  
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		  <ul class="navbar-nav mr-auto">
			<li class="nav-item active">
			  <a class="nav-link" href="{{url_for('home')}}">Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="{{url_for('about')}}">About Us</a>
			</li>
			<li class="nav-item dropdown">
			  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Our Services
			  </a>
			  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
				<a class="dropdown-item" href="{{url_for('services_pat')}}">For Patients</a>
						  <div class="dropdown-divider"></div>
				<a class="dropdown-item" href="{{url_for('services_doc')}}">For Doctors</a>
						  <div class="dropdown-divider"></div>
				<a class="dropdown-item" href="{{url_for('services_patho')}}">For Pathologists</a>
							 <div class="dropdown-divider"></div>
				 <a class="dropdown-item" href="{{url_for('services_recep')}}">For Receptionists/Hospitals</a>
	  
			  </div>
			</li>
			  <li class="nav-item">
			  <a class="nav-link" href="{{url_for('contact')}}">Contact Us</a>
			</li>
        </ul>
			  <a class="nav-link" href="{{url_for('login')}}" id="login">Login</a>
			  <a class="nav-link" href="{{url_for('signup')}}" id="signup">Sign Up</a>
		
		</div>
	  </nav>

 <div class="container marketing">

 	<h1>Our Team</h1>
 	<hr>

	<div class="row">
		<div class="col-lg-4">
		  <img class="rounded-circle" src="{{url_for('static',filename='/images/tanmayj.jpeg')}}" alt="Generic placeholder image" width="140" height="140">
		  <h2>Tanmay Jadhav</h2>
		  <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
		  <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
		</div><!-- /.col-lg-4 -->
		<div class="col-lg-4">
		  <img class="rounded-circle" src="{{url_for('static',filename='/images/varun.jpeg')}}" alt="Generic placeholder image" width="140" height="140">
		  <h2>Varun Phatak</h2>
		  <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
		  <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
		</div><!-- /.col-lg-4 -->
		<div class="col-lg-4">
		  <img class="rounded-circle" src="{{url_for('static',filename='/images/ninad.jpeg')}}" alt="Generic placeholder image" width="140" height="140">
		  <h2>Ninad Yadav</h2>
		  <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
		  <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
		</div><!-- /.col-lg-4 -->
		<div class="col-lg-4">
			<img class="rounded-circle" src="{{url_for('static',filename='/images/xray.jpg')}}" alt="Generic placeholder image" width="140" height="140">
			<h2>Atharva Duse</h2>
			<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
			<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
		  </div>
	
	  </div><!-- /.row -->

	  <h3>Our Goal</h3>
	<hr>
	<p>
      We are a Team of Young and enthusiastic Engineers. Our Goal is to Provide easy and convinient access to Health records so that it will help to save many lives due to the immediate availability of past records of patients and also save lots of paper work.
    </p>
 </div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>



 

