{% extends "layout.html" %}
{% block content %}

<!-- START BLOCK CONSTANT -->
<link rel="stylesheet" type="text/css" href="../static/other.css">
<body>
<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Dr.Placeholder</h3>
        </div>

        <ul class="list-unstyled components">
            <p>Hello there!</p>
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="{{url_for('doc_home')}}">Doc Home</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="{{url_for('doc_prof')}}">Profile</a>
            </li>           
            <li>
                <a href="{{url_for('doc_addpat')}}">New Patient</a>
            </li>
            <li>
                <a href="{{url_for('doc_patlist')}}">Patient list</a>
            </li>
            <li>
                <a href="{{url_for('doc_appoint')}}">Apointments</a>
            </li>
            <li>
                <a href="{{url_for('doc_session')}}">Sessions</a>
            </li>
        </ul>
    </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-inverse navbar-expand-lg ">
            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fas fa-align-left"></i>
                <span></span>
            </button>

                <div class="container-fluid">

                <img class="logo-img" src="{{url_for('static',filename='/images/logoehr.png')}}" width="130" height="130" ALT="align box" ALIGN=CENTER>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                            <a class="nav-link" href="{{url_for('about')}}">About<span class="sr-only">(current)</span></a>
                            </li>                            
                            <li class="nav-item active">
                            <a class="nav-link" href="{{url_for('contact')}}">Contact<span class="sr-only">(current)</span></a>
                            </li>                            
                            <li class="nav-item">
                                <a class="nav-link" href="/logout">Log out</a>
                            </li>
                            <li class="nav-item active">
                            <a class="nav-link" href="{{url_for('home')}}">Home <span class="sr-only">(current)</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
<!-- END BLOCK CONSTANT -->
 <div class="container">
   
  <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">We are seeing {{pid}}</h3>
    <h4>Reports</h4>
    <table class="table table-stripped table-bordered">
        <tr>
            <th>Date</th><td>{{report[0][3]}}</td>
        </tr>
        {% for user in report %}
        <tr>
          
          <td>
              {% set values = user[2].split(";") %}
              {% for elements in values %}
              <tr>
                  {% set element = elements.split(":") %}
                  <td>{{element[0]}} </td><td>{{element[1]}}</td>
              </tr>
              {% endfor %}
          </td>
        </tr>
        {% endfor %}
      </table>
      <button align="right">Edit Data</button>
  </div>
  <br />
  <br />
  <div>
      <h4>Medicines</h4>
    <table class="table table-stripped table-bordered">
        <tr>
          <th>Sr No.</th>
          <th>Disease</th>
          <th>Drug Name</th>
          <th>Date</th>
          <th>Time</th>
        </tr>
        {% for user in prescription %}
        <tr>
          <td>{{loop.index}}</td>
          <td>{{user[2]}}</td>
          <td>{{user[3]}}</td>
          <td>{{user[4]}}</td>
          <td>{{user[5]}}</td>
        </tr>
        {% endfor %}
      </table><button align="right">Edit Data</button>
  </div>
  <br />
  <br />
   <div>
    <h4>Diet</h4>
    <table class="table table-stripped table-bordered">
        <tr>
          <th>Sr No.</th>
          <th>Dietitian Name</th>
          <th>Food</th>
        </tr>
        {% for user in diet %}
        <tr>
          <td>{{loop.index}}</td>
          <td>{{user[2]}}</td>
          <td>{{user[3]}}</td>
        </tr>
        {% endfor %}
      </table><button align="right">Edit Data</button>
   </div> 

  </div>
</div>

 </div>

    </div>
 </div>

{% endblock content %}